@import url('https://fonts.googleapis.com/css2?family=Genos:wght@500&family=Karla:ital@1&family=Roboto:wght@300&family=Ubuntu:wght@500&display=swap');

body{
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    

}
html{
    overflow-x: hidden;
}

.welcome_texts{
    text-decoration: none; 
    font-family: 'Ubuntu', sans-serif;
    color: white;
}


.container_texts_welcome{
    text-align: center;
}

nav{
    display: flex;
    width: 100%;

    
}


.ul_navbar{
    display: flex;
    justify-content: space-around;
    width: 100%;
    list-style: none;
    text-decoration: none;
}

.list_navbar{
    text-decoration: none; 
    font-family: 'Ubuntu', sans-serif;
    color: white;
    transition: transform 1.0s ease;
  }
  
  
.list_navbar:hover {
    transform: scale(1.1);
    color: #4c004c;
}

.links_navbar{
    text-decoration: none; 
    font-family: 'Ubuntu', sans-serif;
    color: white;
    transition: transform 1.0s ease;
    
  }

  .links_navbar{
    text-decoration: none; 
    font-family: 'Ubuntu', sans-serif;
    color: white;
    transition: 1.0s ease;
    
  }

  .links_navbar:hover {
    transform: scale(1.1);
    color: #4c004c;
}
  
  

.container_ul_navbar{
    display: flex;
    justify-content: space-around;
    width: 100%;
    list-style: none;
    text-decoration: none;
}

.container_animations{
    display: flex;
    height:30vh;
}

.container_animation_welcome{
padding-top: 10%;
justify-content: center;    
align-items: center;
flex: 1;  
height:200%;


}

.container_animations_animation{
display: flex;
justify-content: center;    
flex: 1;
height:max-content;
}

.container_animations_animation{
    height: 80vh;
  

}

.icon_social_medias{
    color: white;
    width: 30px;
    height: 30px;
    padding: 20%;
}

.social_medias{
display: flex;
justify-content: center;
}

.instagram-link{
    padding-left:2%;
    padding-right:2%;
}


.Home_container{
    background: linear-gradient(135deg, #140624, #031883);
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    
}

.resume{
    background: linear-gradient(135deg, #140624, #031883);
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}


.history_container{
    background: linear-gradient(135deg, #140624, #031883);
    overflow-x: hidden;
    
}
.vertical_time_line_element_title{
    font-family: 'Ubuntu', sans-serif;
}

.vertical_time_line_element_subtitle{
    font-family: 'Roboto', sans-serif;
}

.vertical_time_line_eduaction{
    font-family: 'Roboto', sans-serif;
}
.history_title{
    margin: 0px;
    color: #ffffff;
    text-align: center;
    font-size: 4em;
    font-family: 'Ubuntu', sans-serif;
}



.vertical-timeline-element-date{
    color: #ffffff;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
}

.vertical_timeline_card{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.vertical-timeline-element-content bounce-in{
    padding: 5em;
}

.container_education{
    display: flex;
    align-items: center;
}

.icons{
    width: 30px;
    height: 30px;
    padding-right: 4%;
}


.front-end-container{
    display: flex;
    justify-content: space-around;
    width: auto;
}

.skills{
    list-style: none;
    color: #ffffff;
    padding-left: 150%;
    padding-bottom: 38%;
    padding-top: 38%;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
}

.icons_skills_container{
    display: flex;
    align-items: center;
    justify-content: end;
}
.container_icons_skills_back_end{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 60%;
}
.icons_resume_html{
    color: #FF4500;
    width: 18%;
    height: 18%;
    
}

.icons_resume_css{
    color:#add8e6; 
    width: 18%;
    height: 18%;
    
}

.projects_container{
    background: linear-gradient(135deg, #140624, #031883);
    position: absolute;
    width: 100%;
    height: 100%;
}

.resume{
    overflow-y:scroll;
}
.icons_resume_js{
    color:#FFD700;
    width: 18%;
    height: 18%;
   
}

.icons_resume_react{
    color:#1f98c0; 
    width: 18%;
    height: 18%;
    
}


.icons_resume_node{
    color: #70cd43;
    width: 18%;
    height: 18%;
}

.container_text_skills{
    display: block;
    justify-content: start;
    align-items: center;
}

.resume_title{
    color: #ffffff;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}